@font-face {
    font-family : Open Sans;
    src         : url(fonts/OpenSans-Bold.ttf);
    font-weight : bold;
    font-display: swap;
}

@font-face {
    font-family : Open Sans;
    src         : url(fonts/OpenSans-Regular.ttf);
    font-weight : normal;
    font-display: swap;
}

:root {
    /** Fonts **/
    --mainFont           : 'Open Sans', sans-serif;
    --secondaryFont      : 'notset', sans-serif;
    /** --Colors-- **/
    --white              : #fff;
    /* Section anchor */
    --sectionAnchor      : #202a5b;
    /* SCROLLBAR element colors */
    --kazinoScrollBar    : #757575;
    /* NAVBAR element colors */
    --navbarBg           : #333;
    --navbarElementsCol  : #ebebeb;
    /* SLIDEOUT MENU element colors */
    --slideoutMainBg     : #333;
    --slideoutSecondaryBg: #1d1d1d;
    --slideoutTextCol    : #ebebeb;
    /* Page HEADER BLOCK element colors */
    --headerBlockBg      : #313c75;
    --headerBlockText    : #fff;
    --headerBlockTocBg   : rgba(0, 0, 0, 0.3);
    /* Search template colors */
    --searchResults      : #333;
    /* ORDERED LIST element colors */
    --olBg               : #333;
    /* SEARCH BAR element colors */
    --searchBarBg        : #333;
    /* FOOTER element colors */
    --footerBg           : #333;
    --footerCol          : #ebebeb;
    --footerBorder       : #404040;
    /* Box shadow */
    --boxShadow          : 0px 0px 20px rgba(0, 0, 0, 0.2);
}

/* apply a natural box layout model to all elements, but allowing components to change */

html {
    box-sizing     : border-box;
    font-size      : 62.5%;
    /* 10px = 1rem */
    scroll-behavior: smooth;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-family              : var(--mainFont);
    font-size                : 1.6rem;
    line-height              : 2;
    animation                : fadeInAnimation ease .5s;
    animation-iteration-count: 1;
    animation-fill-mode      : forwards;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

#panel {
    background-color: #f8f8f8;
}

.page-content {
    font-size: 1.6rem;
}

/** ------- Headings ------- **/

h1,
h2,
h3 {
    font-family: var(--mainFont);
    margin     : 0 0 .5rem 0 !important;
    line-height: 1.2;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2.5rem;
    color    : var(--darkGray);
}

h3 {
    font-size: 2.2rem;
}

/** ------- Globals ------- **/

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
    padding        : 0;
    margin         : 0;
}

ol {
    padding: 0;
    margin : 0;
}

.container {
    width    : 120rem;
    max-width: 100%;
    margin   : 0 auto;
    padding  : 0 1.5rem;
}

.section {
    padding: 3rem 0;
}

.section ul {
    list-style  : disc;
    padding-left: 1.5rem;
}

img {
    max-width: 100%;
    height   : auto;
}

.section p a,
.section span a {
    font-weight    : bold;
    color          : var(--sectionAnchor);
    letter-spacing : .1rem;
    text-decoration: underline;
}

/** ------- Utilities ------- **/

.disable-click {
    pointer-events: none;
}

.show {
    display: block !important;
}

.flexrow-c-c {
    display        : flex;
    justify-content: center;
    align-items    : center;
}

.flexcol-c-c {
    display        : flex;
    flex-direction : column;
    justify-content: center;
    align-items    : center;
}

.flexcol-se-c {
    display        : flex;
    flex-direction : column;
    justify-content: space-evenly;
    align-items    : center;
}

div.wp-caption {
    max-width: 100%;
}

p.wp-caption-text {
    font-size    : 1.2rem;
    margin       : 0;
    font-style   : italic;
    line-height  : 1.6rem;
    margin-bottom: 2rem;
}

@media (max-width:767px) {
    .mobile-hidden {
        display: none;
    }
}

/* For image alignment */

img.alignright {
    float : right;
    margin: 0 0 1em 1em;
}

img.alignleft {
    float : left;
    margin: 0 1em 1em 0;
}

img.aligncenter {
    display     : block;
    margin-left : auto;
    margin-right: auto;
}

.alignright {
    float: right;
}

.alignleft {
    float: left;
}

.aligncenter {
    display     : block;
    margin-left : auto;
    margin-right: auto;
}

/* Scrollbar */

::-webkit-scrollbar {
    width: .8em;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb {
    background-color: var(--kazinoScrollBar);
}

/** ------- Header ------- **/

.site-header {
    background: var(--navbarBg);
    padding   : 1rem 0;
    min-height: 4rem;
}

.logo {
    display        : flex;
    justify-content: center;
    margin-left    : 3rem;
}

.logo a {
    display: flex;
}

.custom-logo {
    width     : 18rem;
    height    : 4rem;
    object-fit: contain;
}

.nav-bar.container {
    display        : flex;
    align-items    : center;
    justify-content: space-between;
}

@media (min-width:768px) {}

/** ------- Menu ------- **/

.menu-item {
    position: relative;
}

.main-menu .menu-icon {
    max-width  : 2.5rem;
    position   : absolute;
    z-index    : 100;
    margin-left: -3rem;
    margin-top : .3rem;
}

.main-menu a {
    color         : var(--navbarElementsCol);
    font-size     : 1.4rem;
    padding       : .5rem 2rem;
    text-transform: uppercase;
    font-weight   : bold;
}

.main-menu {
    position: relative;
}

.main-menu .icon-angle-down {
    color   : #fff;
    position: absolute;
    right   : -.5rem;
}

.main-menu .icon-angle-down:hover {
    cursor: pointer;
}

.main-menu .sub-menu li:not(:last-child) {
    border-bottom: 1px solid #404040;
    ;
}

.main-menu .menu-item-has-children {
    position: relative;
}

.main-menu .sub-menu {
    position        : absolute;
    top             : 4rem;
    left            : 0;
    background-color: #333;
    color           : #fff;
    border-top      : 4px solid #fff;
    line-height     : 1.4rem;
    z-index         : 100;
}

.main-menu .sub-menu a {
    padding: 0;
}

.main-menu .sub-menu li {
    margin   : 0 !important;
    padding  : 1rem 1.5rem;
    min-width: 15rem;
}

.main-menu .sub-menu {
    display: none;
}

@media (min-width: 768px) {
    .main-menu {
        display        : flex;
        justify-content: center;
    }

    .main-menu .menu {
        display    : flex;
        align-items: center;
    }

    .main-menu li:not(:last-of-type) {
        margin-right: 5rem !important;
    }
}

@media (max-width: 767px) {
    .main-menu.hidden {
        display: none;
    }
}

/** ------- Side / Mobile Menu ------- **/

#slideout-menu {
    background-color          : var(--slideoutMainBg);
    position                  : fixed;
    left                      : 0;
    top                       : 0;
    bottom                    : 0;
    right                     : 0;
    z-index                   : 100;
    width                     : 25.6rem;
    display                   : none;
    overflow-y                : auto;
    -webkit-overflow-scrolling: touch;
    -webkit-animation-duration: .3s;
    animation-duration        : .3s;
}

#slideout-menu .menu-item img {
    max-width   : 1.6rem;
    margin-right: .5rem;
    position    : absolute;
    left        : 1rem;
}

.slideout-menu-logo .custom-logo-link {
    display: flex !important;
}

.slideout-menu-logo .custom-logo {
    max-width: 15rem;
}

#slideout-menu .menu-item a span {
    margin-left: 2.5rem;
}

#slideout-menu ul {
    padding: 0 !important;
}

#slideout-menu ul li {
    list-style-type: none !important;
}

#slideout-menu a {
    padding        : 1rem;
    text-decoration: none;
    font-size      : 1.6rem;
    color          : var(--slideoutTextCol);
    display        : flex;
    align-items    : center;
}

#slideout-menu .sub-menu {
    padding-left    : 2.5rem;
    background-color: var(--slideoutSecondaryBg);
    display         : none;
}

.slideout-close:hover {
    cursor: pointer;
}

.slideout-close i {
    color    : var(--slideoutTextCol);
    font-size: 2.4rem;
}

.sub-arrow {
    display: none;
}

.sub-arrow:hover {
    cursor: pointer;
}

.menu-item-has-children .sub-arrow {
    display : block;
    position: absolute;
    top     : 1rem;
    right   : .8rem;
    color   : var(--white);
}

.sub-menu .sub-arrow {
    display: none;
}

.sub-arrow .icon-angle-down {
    padding: 1.5rem;
}

/** ------- Hamburger menu / icon ------- **/

.hamburger-menu {
    float: left;
}

.hamburger-menu:hover {
    cursor: pointer;
}

/** ------- Back to top button ------- **/

#back-to-top {
    position        : fixed;
    bottom          : 0;
    right           : 0;
    transition      : background-color .3s, opacity .5s, visibility .5s;
    opacity         : 0;
    visibility      : hidden;
    z-index         : 1000;
    font-size       : 40px;
    color           : var(--white);
    background-color: var(--searchResults);
    padding         : 5px 8px 6px;
    border-radius   : 40px 0 0;
}

i.icon-up-open {
    display: flex;
}

#back-to-top:hover {
    cursor: pointer;
}

#back-to-top.show {
    opacity   : 1;
    visibility: visible;
}

#back-to-top.icon-up-open:before {
    display: flex;
    margin : 0 !important;
}

.btt-transparent {
    background-color: transparent !important;
}

@media (max-width: 767px) {
    #back-to-top {
        border-radius: 0;
        font-size    : 24px;
    }
}

/** ------- Footer ------- **/

/** ------- Upper Footer ------- **/

.site-footer {
    padding-top     : 2rem;
    color           : var(--footerCol);
    background-color: var(--footerBg);
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='400' height='400' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke='%233a3a3a' stroke-width='1'%3E%3Cpath d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/%3E%3Cpath d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/%3E%3Cpath d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/%3E%3Cpath d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/%3E%3Cpath d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/%3E%3C/g%3E%3Cg fill='%233c3c3c'%3E%3Ccircle cx='769' cy='229' r='5'/%3E%3Ccircle cx='539' cy='269' r='5'/%3E%3Ccircle cx='603' cy='493' r='5'/%3E%3Ccircle cx='731' cy='737' r='5'/%3E%3Ccircle cx='520' cy='660' r='5'/%3E%3Ccircle cx='309' cy='538' r='5'/%3E%3Ccircle cx='295' cy='764' r='5'/%3E%3Ccircle cx='40' cy='599' r='5'/%3E%3Ccircle cx='102' cy='382' r='5'/%3E%3Ccircle cx='127' cy='80' r='5'/%3E%3Ccircle cx='370' cy='105' r='5'/%3E%3Ccircle cx='578' cy='42' r='5'/%3E%3Ccircle cx='237' cy='261' r='5'/%3E%3Ccircle cx='390' cy='382' r='5'/%3E%3C/g%3E%3C/svg%3E");
}

.footer-col ul {
    padding: 0;
}

.footer-col ul li {
    list-style-type: none !important;
}

.site-footer h4 {
    font-size     : 1.5rem;
    text-transform: uppercase;
    margin        : 0;
}

.site-footer a {
    font-size: 1.2rem;
    color    : var(--anchorColor);
}

.site-footer ul li {
    line-height: 1.8rem;
}

@media (min-width: 768px) {
    .upper-footer {
        display        : flex;
        justify-content: space-between;
    }
}

/** ------- Mid Footer ------- **/

.mid-footer {
    margin        : 2rem 0;
    display       : flex;
    flex-direction: column;
    align-items   : center;
}

.mid-footer__extra {
    width     : 100%;
    text-align: center;
    font-size : 1.2rem;
}

.mid-footer__extra a {
    color      : rgb(199, 21, 21);
    font-size  : 1.5rem;
    font-weight: bold;
}

.mid-footer__images {
    display        : flex;
    width          : 100%;
    justify-content: center;
    padding        : 2rem 0;
}

.mid-footer__text {
    font-size : 1.2rem;
    flex      : 0 0 60%;
    text-align: center;
}

.mid-footer__text p {
    margin: 0;
}

.mid-footer .mid-footer__socials {
    padding-top: 1rem;
}

.mid-footer .mid-footer__socials img {
    max-width: 3rem;
}

.mid-footer .mid-footer__socials img {
    margin-right: 1rem;
}

.mid-footer__images--wrap {
    display    : flex;
    align-items: center;
}

.mid-footer__images img {
    width     : 8rem;
    height    : 4rem;
    object-fit: contain;
}

.mid-footer__images img:not(:last-child) {
    margin-right: 2rem;
}

@media (max-width: 767px) {
    .mid-footer__socials {
        display        : flex;
        justify-content: center;
        padding        : 3rem 0;
    }

    .mid-footer__images {
        align-self: center;
    }

    .mid-footer .mid-footer__socials img {
        max-width: 2.5rem;
    }

    .mid-footer__images--wrap {
        flex-wrap      : wrap;
        justify-content: center;
    }

    .mid-footer__images--wrap img {
        margin-bottom: 2rem;
        margin-right : .5rem !important;
    }
}

/** ------- Lower Footer ------- **/

.lower-footer {
    margin-top     : 1rem;
    padding        : 1.2rem 0;
    display        : flex;
    justify-content: center;
    align-items    : center;
    border-top     : 1px solid var(--footerBorder);
}

.lower-footer img {
    display    : flex;
    margin-left: 1rem;
    max-width  : 1.8rem;
}

.lower-footer__copyright {
    margin-top: 0;
    font-size : 1.2rem;
}

.lower-footer__flag {
    display    : flex;
    align-items: center;
}

.dmca-badge img {
    max-width: 7rem !important;
}

.lower-footer__copyright span {
    font-weight: bold;
}

/** ------- Header Block ------- **/

.header-block-bg {
    background-color: var(--headerBlockBg);
}

.header-block {
    padding         : 1rem 0 2rem;
    background-image: url(../img/header-pattern.png);
    position        : relative;
}

.header-blocks {
    display        : flex;
    justify-content: space-between;
}

.page-heading {
    display        : flex;
    align-items    : center;
    justify-content: center;
    text-align     : center;
    padding        : 1rem 0 2rem;
}

.heading-image img {
    margin-left: 1rem;
    height     : 3.2rem;
    width      : 3.2rem;
    object-fit : contain;
}

.header-block .container {
    display: flex;
}

.header-block .header-block__intro {
    flex: 65%;
}

.header-block h1 {
    font-size: 4rem;
    color    : var(--headerBlockText);
    display  : inline-block;
}

.header-block p {
    color    : var(--headerBlockText);
    font-size: 1.6rem;
    margin   : 0;
}

.header-block__toc {
    flex           : 35%;
    display        : flex;
    justify-content: flex-end;
    align-items    : flex-start;
}

.header-block__toc ul {
    background-color: var(--headerBlockTocBg);
    border-radius   : .5rem;
    padding         : 1.5rem;
    font-size       : 1.4rem;
}

.header-block__toc ul li {
    text-align : right;
    line-height: 3rem;
}

.header-block__toc ul li a {
    color: var(--headerBlockText);
}

.header-block__toc ul li a:after {
    content    : "\f104";
    font-family: 'fontello';
    font-weight: normal;
    margin-left: .5rem;
    color      : var(--lightGray);
    font-weight: bold;
    font-size  : 1.8rem;
}

@media (max-width:767px) {
    .header-block .container {
        flex-direction: column;
    }

    .page-heading {
        padding: 0 1.5rem;
    }

    .page-heading h1 {
        font-size: 2.4rem;
        order    : 1;
    }

    .header-block__toc {
        align-self: flex-start;
        margin-top: 2rem;
    }

    .header-block__toc ul {
        background-color: transparent;
        font-size       : 1.6rem;
    }

    .header-block__toc ul li {
        text-align : left;
        font-weight: bold;
    }

    .toc-toggle {
        text-align: center;
    }

    .toc-toggle li {
        text-align: left;
    }
}

/** ------- Page template ------- **/

.page.no-sidebar .page-content {
    padding         : 2rem;
    background-color: var(--white);
    border          : 1px #eaeaea solid;
}

.no-sidebar .post-content {
    padding         : 2rem;
    background-color: var(--white);
    border          : 1px #eaeaea solid;
}

.template-404.no-sidebar .page-content {
    box-shadow: none;
}

@media (max-width:767px) {
    .no-sidebar .page-content {
        margin: 0 1rem;
    }

    .no-sidebar .search-content {
        margin: 0 1rem;
    }
}

/** ------- Page with sidebar ------- **/

/* Make sidebar sticky */

.sidebar-sticky {
    position: sticky;
    top     : .5rem;
}

@media (min-width: 768px) {
    .page.with-sidebar {
        display        : flex;
        justify-content: space-between;
    }

    .with-sidebar .page-content {
        flex         : 0 0 calc(70% - 2rem);
        background   : var(--white);
        padding      : 1rem 3rem;
        border       : 1px #eaeaea solid;
        border-radius: .5rem;
    }

    .with-sidebar .archive-content {
        flex         : 0 0 calc(70% - 2rem);
        padding      : 0 3rem;
        border-radius: .5rem;
    }

    .with-sidebar .sidebar {
        flex: 0 0 calc(30% - 2rem);
    }

    .with-sidebar .widget:not(:first-child) {
        margin-top: 1.5rem;
    }
}

@media (max-width: 767px) {
    .with-sidebar .page-content {
        flex      : 100%;
        background: var(--white);
        box-shadow: var(--boxShadow);
        padding   : 1rem 3rem;
        margin    : 0 1rem;
    }

    .with-sidebar .widget:not(:first-child) {
        margin-top: 1.5rem;
    }

    .with-sidebar .sidebar {
        flex  : 100%;
        margin: 0 1rem;
    }

    .widget {
        background: var(--white);
        box-shadow: var(--boxShadow);
    }
}

/** ------- Breadcrumbs ------- **/

.home #breadcrumbs {
    display: none !important;
}

#breadcrumbs {
    width          : 100%;
    display        : flex;
    justify-content: space-between;
    align-items    : center;
}

#breadcrumbs nav a,
#breadcrumbs nav span,
#breadcrumbs .last-modified {
    font-size: 1.2rem;
    color    : #fff;
}

/** ------- Header Search ------- **/

.header-search i {
    color: var(--navbarElementsCol);
}

.header-search:hover {
    cursor: pointer;
}

.header-search-form form#searchform {
    text-align: center;
}

.search-header {
    position: absolute;
    width   : 100%;
    top     : 9.8rem;
    left    : 0;
    display : none;
    z-index : 99999;
}

.search-header input {
    width           : 83%;
    padding         : .5rem 1rem;
    color           : var(--black);
    background-color: var(--white);
    font-weight     : 700;
    border          : none;
    border-radius   : .5rem;
}

.search-header button {
    width           : 6%;
    height          : 3rem;
    border          : none;
    border-radius   : .5rem;
    font-weight     : 700;
    cursor          : pointer;
    background-color: var(--white);
}

.header-search-form .search-form {
    background-color: var(--searchBarBg);
    padding         : 1.5rem;
    border-radius   : 4rem;
    box-shadow      : var(--boxShadow);
}

.header-search-form .search-form input {
    outline         : none;
    background-color: var(--white);
}

@media (max-width: 767px) {
    .header-search {
        font-size: 3rem;
    }

    .search-header {
        top: 8.5rem;
    }

    .search-header button {
        width: 15%;
    }

    .search-header input {
        width: 75%;
    }
}

/* Author Box */

.author_bio_section {
    border       : 1px #eaeaea solid;
    padding      : 1.5rem 3rem;
    border-radius: .5rem;
    margin       : 2rem 0;
}

.author-socials {
    max-width   : 3rem;
    margin-right: 1rem;
}

.author_socials_bar {
    display        : flex;
    justify-content: flex-end;
}

.author_socials_bar i {
    font-size: 3rem;
}

.author_social_icons,
.author_social_icons a {
    display    : flex;
    align-items: center;
}

.author_socials_bar .author_detail {
    display: none;
}

.author_details {
    display       : flex;
    flex-direction: column;
    align-items   : center;
}

.author_details .author_name {
    display   : block;
    font-size : 2rem;
    text-align: center;
}

.author_details img {
    width        : 110px;
    height       : 110px;
    border-radius: 50%;
    object-fit   : contain;
}

.author_details .author_name {
    font-weight: bold;
    font-size  : 1.8rem;
}

.author_details strong {
    display: inline-block;
}

.author_description {
    margin   : 1rem 0;
    font-size: 1.2rem;
}

.author_links {
    text-align: center;
}

@media (min-width: 768px) {
    .author_socials_bar {
        display        : flex;
        justify-content: space-between;
    }

    .author_socials_bar .author_detail {
        display       : block;
        text-transform: uppercase;
        color         : var(--black);
        font-weight   : bold;
    }

    .author_details {
        flex-direction: row;
    }

    .author_details img {
        border-radius: 0;
        margin-right : 1rem;
    }

    .someclass {
        display       : flex;
        flex-direction: column;
        align-items   : flex-start;
    }

    .author_links {
        text-align: left;
        margin    : 0;
        font-size : 1rem;
    }
}

@media (max-width:767px) {
    .author_socials_bar {
        justify-content: center;
        padding-bottom : 2rem;
    }
}

/* Language switcher */

.lower-footer__lang-switcher {
    display: none;
}

.sl-nav ul {
    margin       : 0;
    padding      : 0;
    list-style   : none;
    position     : relative;
    display      : inline-block;
    border-radius: 5px;
    background   : #fff;
}

.sl-nav li {
    cursor : pointer;
    padding: 6px 18px;
}

.sl-nav li span {
    font-size: 1.2rem;
}

.sl-nav li ul {
    display: none;
}

.sl-nav li:hover ul {
    position     : absolute;
    top          : 38px;
    right        : 0px;
    display      : block;
    background   : #fff;
    width        : 120px;
    padding-top  : 0px;
    z-index      : 1;
    border-radius: 5px;
    box-shadow   : var(--boxShadow);
}

.sl-nav li:hover .triangle {
    position  : absolute;
    top       : 26px;
    right     : 5px;
    z-index   : 10;
    height    : 14px;
    overflow  : hidden;
    width     : 30px;
    background: transparent;
}

.sl-nav li:hover .triangle:after {
    content      : '';
    display      : block;
    z-index      : 20;
    width        : 15px;
    transform    : rotate(45deg) translateY(0px) translatex(10px);
    height       : 15px;
    background   : #fff;
    border-radius: 2px 0px 0px 0px;
    box-shadow   : var(--boxShadow);
}

.sl-nav li ul li {
    position      : relative;
    text-align    : left;
    background    : transparent;
    padding       : 1rem;
    padding-bottom: 0;
    z-index       : 2;
    font-size     : 15px;
    color         : #3c3c3c;
}

.sl-nav li ul li:last-of-type {
    padding-bottom: 1rem;
}

.sl-nav li ul li span {
    padding-left: .5rem;
}

.sl-nav li ul li span:hover,
.sl-nav li ul li span.active {
    color: #146c78;
}

.sl-nav .active a {
    color: #000 !important;
}

.sl-flag {
    display      : inline-block;
    box-shadow   : var(--boxShadow);
    width        : 15px;
    height       : 15px;
    background   : #aaa;
    border-radius: 50%;
    position     : relative;
    top          : 2px;
    overflow     : hidden;
    margin-right : .5rem;
}

/* Author page template*/

.author-content {
    padding: 5rem 1.5rem;
}

.author-container {
    display      : flex;
    border       : 1px #eaeaea solid;
    border-radius: .5rem;
    margin-bottom: 5rem;
}

.author-page-details {
    background-color: var(--lightGray);
    flex            : 0 0 30%;
    padding         : 2rem;
    display         : flex;
    flex-direction  : column;
    align-items     : center;
    border-radius   : .5rem 0 0 .5rem;
}

.author-page-details img {
    border-radius: 50%;
    width        : 200px;
    height       : 200px;
    object-fit   : contain;
    border       : 3px solid #fff;
}

.author-page-details span {
    font-size     : 2rem;
    font-weight   : bold;
    letter-spacing: .1rem;
    text-transform: uppercase;
}

.author-page-about {
    flex           : 1;
    padding        : 2rem;
    border-radius  : 0 .5rem .5rem 0;
    background     : var(--white);
    display        : flex;
    flex-direction : column;
    justify-content: space-between;
}

.author-page--description {
    font-size: 1.4rem;
}

.author-page--socials {
    display        : flex;
    justify-content: flex-end;
}

.author-posts {
    display              : grid;
    grid-template-columns: repeat(4, 24.3%);
    gap                  : 1rem;
}

.author-content-preview {
    border        : 1px #eaeaea solid;
    padding       : 3.5rem 2rem 2rem;
    position      : relative;
    border-radius : .5rem;
    background    : var(--white);
    display       : flex;
    flex-direction: column;
}

.author-content-preview h3 {
    font-size: 1.3rem;
}

.author-content-preview p {
    margin   : 1.5rem 0;
    flex     : 1;
    font-size: 1.3rem;
}

.author-content-preview .button {
    background    : var(--searchResults);
    color         : var(--white);
    text-transform: uppercase;
    padding       : .5rem 1rem;
    border-radius : .5rem;
    font-size     : 1.3rem;
    text-align    : center;
}

.author-content-preview .author-content-date {
    position        : absolute;
    top             : 0;
    right           : 0;
    background-color: var(--searchResults);
    color           : var(--white);
    font-size       : 1rem;
    padding         : .5rem 1rem;
    border-radius   : 0 .5rem 0 0;
}

.author-content-date i {
    margin-right: .5rem;
}

.author-reviews .review-row {
    margin: 3rem 0;
}

.review-row h2 {
    margin-bottom: 3rem;
}

@media (max-width: 767px) {
    .author-container {
        flex-direction: column;
    }

    .author-posts {
        grid-template-columns: auto;
    }
}

/* Posts page template*/

.post-content {
    padding         : 1rem 3rem;
    background-color: var(--white);
}

@media (min-width: 768px) {
    .single .with-sidebar {
        display        : flex;
        justify-content: space-betweenss;
    }

    .with-sidebar .post-content {
        flex         : 0 0 calc(70% - 2rem);
        background   : var(--white);
        padding      : 1rem 3rem;
        box-shadow   : var(--boxShadow);
        border-radius: .5rem;
    }
}

@media (max-width:767px) {
    .post-content {
        margin: 0 1rem;
    }

    .with-sidebar .search-content {
        margin: 0 1rem;
    }
}

/* Search template */

.search-items-wrap {
    flex: 0 0 70%;
}

.search-item-result {
    padding         : 4.5rem 2rem 2rem;
    border          : 1px #eaeaea solid;
    background-color: var(--white);
    border-radius   : .5rem;
    position        : relative;
}

.search-item-result h3 a {
    color: var(--kazinoMainColor)
}

.search-item-result i {
    margin-right: .5rem;
}

.search-item-result:not(:first-child) {
    margin-top: 1rem;
}

.search-item-result .read-more-button {
    padding       : 0;
    background    : var(--searchResults);
    color         : var(--white);
    text-transform: uppercase;
    padding       : .5rem 3rem;
    border-radius : .5rem;
    font-size     : 1.3rem;
    text-align    : center;
}

.search-content-date {
    position        : absolute;
    top             : 0;
    right           : 0;
    background-color: var(--searchResults);
    color           : var(--white);
    font-size       : 1.5rem;
    padding         : .5rem 1rem;
    border-radius   : 0 .5rem 0 0;
}

.read-more-button {
    background    : var(--kazinoMainColor);
    color         : var(--white);
    text-transform: uppercase;
    padding       : .5rem 1rem;
    border-radius : .5rem;
    font-size     : 1.6rem;
    text-align    : center;
}

@media (min-width: 768px) {
    .search .with-sidebar {
        display        : flex;
        justify-content: space-between;
    }

    .with-sidebar .search-content {
        flex: 0 0 calc(70% - 2rem);
    }
}

@media (max-width: 767px) {
    .with-sidebar .sidebar {
        margin-top: 1rem;
    }
}

/* Ordered list style */

ol {
    counter-reset: li;
    /* Initiate a counter */
    margin-left  : 0;
    /* Remove the default left margin */
    padding-left : 0;
    /* Remove the default left padding */
    margin       : 2rem 0;
}

ol>li {
    position  : relative;
    /* Create a positioning context */
    margin    : 0 0 1.5rem 2rem;
    /* Give each list item a left margin to make room for the numbers */
    padding   : .4rem 1.2rem;
    /* Add some spacing around the content */
    list-style: none;
}

ol>li:before {
    content           : counter(li);
    /* Use the counter as content */
    counter-increment : li;
    /* Increment the counter by 1 */
    /* Position and style the number */
    width             : 32px;
    height            : 32px;
    position          : absolute;
    top               : initial;
    left              : -2.5rem;
    -moz-box-sizing   : border-box;
    -webkit-box-sizing: border-box;
    box-sizing        : border-box;
    color             : #fff;
    background-image  : url('/wp-content/themes/spartacus/img/icons/poker-chip.png');
    background-repeat : no-repeat;
    display           : flex;
    justify-content   : center;
    align-items       : center;
    font-size         : 1.2rem;
    font-weight       : bold;
}

li ol,
li ul {
    margin-top: 6px;
}

ol ol li:last-child {
    margin-bottom: 0;
}

/* Unordered list style */

ul {
    list-style: none;
}

@media (max-width:767px) {
    ol>li:before {
        position     : relative;
        margin-bottom: 1.2rem;
    }

    ol>li {
        padding: .4rem;
    }
}

/* Sidebar news post widget */

.widget .sidebar-news-post {
    display    : flex;
    align-items: center;
}

.sidebar-news-post .news-post-info {
    padding: .5rem;
}

.sidebar-news-post p,
.sidebar-news-post h3 {
    margin: 0;
}

.sidebar-news-post h3 {
    font-size: 1.3rem;
}

.sidebar-news-post p {
    font-size: 1.2rem;
}

.news-post-image {
    flex        : 0 0 40%;
    margin-right: 1rem;
    display     : flex;
    align-items : center;
}

.news-post-image img {
    height: 8rem;
}

/* Icon 3 */

#nav-icon3 {
    width             : 24px;
    height            : 24px;
    position          : relative;
    -webkit-transform : rotate(0deg);
    -moz-transform    : rotate(0deg);
    -o-transform      : rotate(0deg);
    transform         : rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition   : .5s ease-in-out;
    -o-transition     : .5s ease-in-out;
    transition        : .5s ease-in-out;
    cursor            : pointer;
}

#nav-icon3 span {
    display           : block;
    position          : absolute;
    height            : 3.5px;
    width             : 100%;
    background        : var(--navbarElementsCol);
    border-radius     : 5px;
    opacity           : 1;
    left              : 0;
    -webkit-transform : rotate(0deg);
    -moz-transform    : rotate(0deg);
    -o-transform      : rotate(0deg);
    transform         : rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition   : .25s ease-in-out;
    -o-transition     : .25s ease-in-out;
    transition        : .25s ease-in-out;
}

/* Icon 3 */

#nav-icon3 span:nth-child(1) {
    top: 0px;
}

#nav-icon3 span:nth-child(2),
#nav-icon3 span:nth-child(3) {
    top: 10px;
}

#nav-icon3 span:nth-child(4) {
    top: 20px;
}

#nav-icon3.open span:nth-child(1) {
    top  : 18px;
    width: 0%;
    left : 50%;
}

#nav-icon3.open span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -moz-transform   : rotate(45deg);
    -o-transform     : rotate(45deg);
    transform        : rotate(45deg);
}

#nav-icon3.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform   : rotate(-45deg);
    -o-transform     : rotate(-45deg);
    transform        : rotate(-45deg);
}

#nav-icon3.open span:nth-child(4) {
    top  : 18px;
    width: 0%;
    left : 50%;
}

/* 404 not found template */

.template-404 {
    padding: 3rem;
}

.not-found-text {
    font-size     : 5rem;
    font-weight   : bold;
    letter-spacing: .5rem;
}

.not-found-wrap img {
    max-width: 18rem;
}

.not-found-button {
    margin-top: 2rem;
}

.not-found-button a {
    padding         : 1rem 5rem;
    color           : var(--white);
    background-color: #333;
    font-size       : 1.8rem;
    text-transform  : uppercase;
    font-weight     : bold;
    border-radius   : .5rem;
}

@media (max-width:767px) {
    .not-found-text {
        margin   : 3rem 0;
        font-size: 2rem;
    }
}

/* Search page - results not found styles */

.search-content {
    padding-bottom: 3rem;
}

.search-no-results .search-content {
    padding-bottom: 10rem;
}

.search-content>h3 {
    font-size: 4rem;
}

/* Front page template styles */

.toc-toggle {
    flex-direction: column;
}

.front-page .header-block__intro {
    flex    : 0 0 50%;
    position: relative;
}

.front-page .toc-hp {
    display: none;
}

.front-page .toc-hp ul li a {
    color      : var(--headerBlockText);
    font-size  : 1.4rem;
    font-weight: bold;
}

.front-page .toc-hp ul li a:before {
    content     : "\f105";
    font-family : 'fontello';
    font-weight : normal;
    margin-right: .5rem;
    color       : var(--lightGray);
}

.front-page .toc-toggle span {
    cursor     : pointer;
    font-weight: bold;
    font-size  : 1.6rem;
    color      : var(--headerBlockText);
}

.header-block_elements {
    display        : flex;
    justify-content: space-between;
    margin-top     : 2rem;
}

.single-block-el {
    flex            : 0 0 32%;
    background-color: rgba(0, 0, 0, 0.50);
    border-radius   : .5rem;
}

.elements-info-wrap {
    display        : flex;
    flex-direction : column;
    align-items    : center;
    justify-content: space-between;
    padding        : 1rem 0 0;
    height         : 100%;
}

.single-block-el .element-name {
    display: flex;
}

.single-block-el .element-name a {
    font-size  : 1.5rem;
    color      : var(--white);
    text-align : center;
    font-weight: bold;
    line-height: 2rem;
}

.single-block-el .element-number a {
    font-size  : 2.8rem;
    color      : gold;
    font-weight: bold;
}

.single-block-el .element-image img {
    max-width: 6rem;
}

@media (min-width:768px) {
    .header-block_elements {
        flex       : 0 0 48%;
        margin-top : 0;
        display    : flex;
        align-items: flex-start;
    }

    .single-block-el .element-image img {
        max-width: 9rem;
    }

    .single-block-el .element-name a {
        font-size  : 1.6rem;
        font-weight: bold;
    }

    .single-block-el .element-number a {
        font-size: 3rem;
    }
}

/* Table styling */

@media (min-width:601px) {
    .page-content table {
        margin         : 20px auto;
        border         : 1px solid #e4e4e4;
        width          : 100%;
        border-collapse: collapse;
    }

    .page-content td {
        border : 1px solid #e4e4e4;
        padding: 5px;
    }

    .page-content thead tr th {
        border: 1px solid #e4e4e4;
    }

    .page-content table {
        margin         : 0 auto;
        border         : 1px solid #e4e4e4;
        width          : 100%;
        border-collapse: collapse;
    }

    .page-content td {
        border : 1px solid #e4e4e4;
        padding: 5px;
    }

    .page-content thead tr th {
        border: 1px solid #e4e4e4;
    }

}

@media screen and (max-width: 600px) {
    .page-content table {
        width: 100%;
    }

    .page-content thead {
        display: none;
    }

    .page-content tr:nth-of-type(2n) {
        background-color: inherit;
    }

    .page-content tr td:first-child {
        background : #f0f0f0;
        font-weight: bold;
        font-size  : 1.3em;
    }

    .page-content tbody td {
        display   : block;
        text-align: center;
    }

    .page-content table {
        width: 100%;
    }

    .page-content thead {
        display: none;
    }

    .page-content tr:nth-of-type(2n) {
        background-color: inherit;
    }

    .page-content tr td:first-child {
        background : #f0f0f0;
        font-weight: bold;
        font-size  : 1.3em;
    }

    .page-content tbody td {
        display   : block;
        text-align: center;
    }
}

/* Sidebar pages Widget */

.sidebar-pages-wrap {
    margin       : 0px 0px 2rem 0px;
    border       : 1px solid #f1f1f1;
    background   : var(--white);
    border-radius: .5rem;
}

.pages-wrap-header {
    display         : flex;
    justify-content : space-between;
    align-items     : center;
    background-color: white;
    border-radius   : .5rem .5rem 0 0;
    box-shadow      : 0 .4rem 1rem rgba(0, 0, 0, 0.10);
    min-height      : 4.5rem;
    padding         : 1rem;
}

.pages-wrap-header img {
    max-width: 2.5rem;
}

.sidebar-pages-wrap ul {
    list-style-type: none;
    padding        : 0 !important;
}

.sidebar-pages-wrap ul li {
    padding        : 1.4rem 1.7rem;
    border-bottom  : 1px solid #f1f3f5;
    line-height    : 1.5rem;
    cursor         : pointer;
    position       : relative;
    transition     : box-shadow 0.3s ease;
    display        : flex;
    justify-content: space-between;
}

.sidebar-pages-wrap ul li a {
    color         : #006bae !important;
    font-weight   : normal !important;
    font-size     : 1.4rem;
    letter-spacing: initial;
}

.pages-wrap-header h3 {
    color         : #49535c !important;
    font-size     : 1.5rem;
    text-transform: uppercase;
    margin        : 0 !important;
    line-height   : 1.6rem;
    font-weight   : normal !important;
}

/* MAIN MENU STYLES */

/* nav */

.main-menu .menu,
.main-menu .menu ul,
.main-menu .menu li,
.main-menu .menu a {
    margin     : 0;
    padding    : 0;
    line-height: normal;
    list-style : none;
    display    : block;
    position   : relative;
}

.main-menu .menu ul {
    opacity           : 0;
    position          : absolute;
    top               : 100%;
    left              : -9999px;
    z-index           : 999;
    -webkit-transition: opacity .3s;
    transition        : opacity .3s;
}

.main-menu .menu li:hover>ul {
    left   : 0;
    opacity: 1;
    z-index: 1000;
}

.main-menu .menu ul li:hover>ul {
    top : -.3rem;
    left: 100%;
}

.main-menu .menu li {
    cursor     : default;
    float      : left;
    white-space: nowrap;
}

.main-menu .menu ul li {
    float: none;
}

.main-menu .menu-item-has-children .icon-angle-down {
    position : absolute;
    top      : .7rem;
    right    : -1rem;
    color    : #fff;
    font-size: 14px;
}

.main-menu .sub-menu .icon-angle-down {
    top  : .6rem;
    right: .5rem;
}

/* sub width */

.main-menu .sub-menu .menu-item {
    width: 100%;
}

.main-menu ul.sub-menu {
    border-top: 3px solid #fff;
}

.main-menu .menu ul {
    min-width         : 10em;
    -webkit-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);
    box-shadow        : 2px 2px 2px rgba(0, 0, 0, 0.25);
    background        : #555;
}

/* center */

.main-menu .nav-center {
    float: right;
    right: 50%;
}

.main-menu .nav-center>li {
    left: 50%;
}

/* root */

.main-menu .menu a {
    padding        : 0 10px;
    color          : rgb(241, 241, 241);
    font-weight    : bold;
    text-transform : uppercase;
    font-size      : 1.4rem;
    line-height    : 3.5rem;
    text-decoration: none;
}

/* root: active */

.main-menu .menu>li>.nav-active {
    background-color: rgba(0, 0, 0, 0.05);
}

/* root: hover/persistence */

.main-menu .menu a:hover,
.main-menu .menu a:focus,
.main-menu .menu li:hover a {
    color: #FFF;
}

/* 2 */

.main-menu .menu li li a,
.main-menu .menu li:hover li a {
    padding    : 8px 10px;
    background : #555;
    color      : #FFF;
    font-size  : 12px;
    line-height: normal;
}

/* 2: hover/persistence */

.main-menu .menu li:hover li a:hover,
.main-menu .menu li:hover li a:focus,
.main-menu .menu li:hover li:hover a {
    background: #444;
}

/* 3 */

.main-menu .menu li:hover li:hover li a {
    background: #444;
}

/* 3: hover/persistence */

.main-menu .menu li:hover li:hover li a:hover,
.main-menu .menu li:hover li:hover li a:focus,
.main-menu .menu li:hover li:hover li:hover a {
    background: #333;
}

/* 4 */

.main-menu .menu li:hover li:hover li:hover li a {
    background: #333;
}

/* 4: hover */

.main-menu .menu li:hover li:hover li:hover li a:hover,
.main-menu .menu li:hover li:hover li:hover li a:focus {
    background: #222;
}

/* Post archive style */

.archive-posts-title {
    text-align: center;
    margin    : 40px 0 20px !important;
}

.post_card {
    position     : relative;
    display      : block;
    width        : 750px;
    height       : 280px;
    margin       : 0 auto;
    overflow     : hidden;
    border-radius: 10px;
    transition   : all 0.4s;
    box-shadow   : 0px 0px 120px -25px rgba(0, 0, 0, 0.5);
}

.post_card:not(:first-child) {
    margin-top: 20px;
}

.post_card:hover {
    transform : scale(1.01);
    box-shadow: 0px 0px 80px -25px rgba(0, 0, 0, 0.5);
    transition: all 0.4s;
}

.post_card .info_section {
    position             : relative;
    width                : 100%;
    height               : 100%;
    background-blend-mode: multiply;
    z-index              : 2;
    border-radius        : 10px;
}

.post_card .info_section .post_header {
    position: relative;
    padding : 25px;
    height  : 35%;
}

.post_card .post_header .post_date {
    font-weight: bold;
    font-size  : 12px;
}

.post_card .info_section .post_header h2 {
    color      : black;
    font-weight: bold;
    font-size  : 2rem;
}

.post_card .info_section .post_header div {
    color      : #555;
    font-weight: 400;
    font-style : italic;
}

.post_card .info_section .post_desc {
    padding    : 25px 25px 0;
    line-height: 26px;
    height     : 53%;
    font-size  : 15px;
}

.post_card .info_section .post_desc .text {
    color      : #545454;
    line-height: 2.2rem;
    margin-top : 1.5rem;
}

.post_card .info_section .post_cats {
    height      : 10%;
    padding-left: 25px;
}

.post_card .info_section .post_cats ul {
    list-style: none;
    padding   : 0;
}

.post_card .info_section .post_cats ul li {
    display         : inline-block;
    text-transform  : uppercase;
    color           : rgba(0, 0, 0, 0.3);
    transition      : color 0.3s;
    transition-delay: 0.15s;
    margin          : 0 10px 0 0;
}

.post_card .info_section .post_cats ul li:hover {
    transition: color 0.3s;
    color     : rgba(0, 0, 0, 0.7);
}

.post_card .info_section .post_cats ul li i {
    font-size: 19px;
    cursor   : pointer;
}

.post_card .blur_back {
    position       : absolute;
    top            : 0;
    z-index        : 1;
    height         : 100%;
    right          : 0;
    background-size: cover;
    border-radius  : 11px;
}

@media screen and (min-width: 768px) {
    .post_desc {
        width: 50%;
    }

    .info_section {
        background: linear-gradient(to right, #e5e6e6 50%, transparent 100%);
    }

    .blur_back {
        width              : 65%;
        background-position: -100% 10% !important;
    }
}

@media screen and (max-width: 768px) {
    .post_card {
        width     : 95%;
        margin    : 30px auto;
        min-height: 350px;
        height    : auto;
    }

    .blur_back {
        width              : 100%;
        background-position: 50% 50% !important;
    }

    .post_header {
        width     : 100%;
        margin-top: 105px;
    }

    .post_desc {
        width  : 100%;
        padding: 0 20px !important;
    }

    .post_card .info_section .post_desc .text {
        margin-top   : 0;
        margin-bottom: 2rem;
    }

    .info_section {
        background: linear-gradient(to top, #e5e6e6 50%, transparent 100%);
        display   : inline-grid;
    }
}

/* No sidebar posts page */

@media (min-width:768px) {
    .no-sidebar .archive-content {
        display  : flex;
        flex-wrap: wrap;
    }

    .no-sidebar .archive-content .post_card {
        height: 300px;
        width : 590px;
        margin: 5px;
    }

    .no-sidebar .info_section {
        background: linear-gradient(to right, #e5e6e6 68%, transparent 100%);
    }

    .no-sidebar .blur_back {
        width              : 70%;
        background-position: -100% 10% !important;
    }

    .no-sidebar .archive-content .post_card:not(:first-child) {
        margin-top: 5px;
    }
}

/* Gutenberg text block styles */

.text-block {
    padding      : 2rem;
    border-radius: 1rem;
    margin       : 2rem 0;
}

.text-block p {
    margin     : 0;
    font-size  : 1.6rem;
    line-height: 2.4rem;
}

.text-block .block-title {
    margin       : 0;
    margin-bottom: 1rem;
}


/* ----- Payments Method ----- */
.all-payments-list{
    display         : grid;
    margin          : 2rem 0;
}

.all-payments{
    box-shadow      : #000;
    background-color: rgba(255, 255, 255, 0.65);
    justify-content : center;
    align-items     : center;
    padding         : 10px 20px;
    position        : relative;
    border-radius   : 8px;
}
.all-payments:hover{
    background-color:#d2e3b7;
    transition      : all .3s ease-in-out;
}
.all-payments>*{
    padding         : 0 20px;
    height          : 25%;
}

.all-payments__logo{
    flex            : 20% 0 0;
    display         : flex;
    justify-content : center;
    align-items     : center;
}

.all-payments__logo .img {
    min-width       : 0;
    max-width       : 100%;
    max-height      : 100%;
}

.all-payments__title{
    display         : flex;
    justify-content : center;
    align-items     : center;
    font-size       : 24px;
    font-weight     : 900;
    padding         : 1rem;
}

.all-payments__description{
    display         : flex;
    justify-content : center;
    align-items     : center;
    padding         : 1rem 0 2rem;
}
.all-payments__readmore{
    display         : flex;
    flex-direction  : column;
    justify-content : space-evenly;
    align-items     : center;
    padding         : 1rem;
}
.read-btn{
    border-radius   : 4px;
    padding         : 10px;
    background-color: #5aad1e;  
    border-color    : #5aad1e;
}

.read-btn a{
    color           : #ffffff;
    font-size       : 18px;
    padding         : 6px;
    width           : 85%;
    font-weight     : 700;
}

.main-content-payments{
    display         : grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows  : auto;   
    grid-gap        : 1rem;
}